body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* designing the div into a grid using flexbox */
.container{
    position: absolute;
    left: 45%;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

/* stilizarea latimii, lungimii si culorii fiecarui patrat */
.grid-item{
    background-color: orange;
    border: 1px solid #fff;
    transition: background-color 0.3s ease;
}

.grid-item.hovered{
    background-color: aqua;
}

.content{
    position: absolute;
    left: 50%;
    bottom: 80%;
}

#reset-button{
    width: 200px;
    padding: 1em 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
    background: linear-gradient(to right, #2abfff, #0071ff);
    position: relative;
    z-index: 0;
    cursor: pointer;
    border-radius: 5px;
}

#reset-button::after{
    content:"";
    background: linear-gradient(to right, #ffee00, #ffb300);
    height: 100%;
    width: 0px;
    border-radius:5px ;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 150ms ease-in-out;
}

#reset-button:hover::after{
    width: 100%;
}